/* Banner Component Styles */

.banner {
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-image: url('../../assets/img/banner-bg-4.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 1px 5px;
  background: white;
  border: 2px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
  color: #fff;
  box-shadow: 0 0 10px #00b3ff,
    0 0 20px #00b3ff,
    0 0 40px #00b3ff,
    0 0 80px #00b3ff,
    0 0 120px #00b3ff;
}

.banner h1 {
  font-size: 130px;
  font-weight: 550;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-top: 40px;
  margin-bottom: 20px;
  display: block;
  color: #fff;
  font-family: 'DotGothic16', sans-serif;
  text-shadow: 0 0 10px #00b3ff,
    0 0 20px #00b3ff,
    0 0 40px #00b3ff,
    0 0 80px #00b3ff,
    0 0 120px #00b3ff;
}

.banner p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}

.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 32px;
  letter-spacing: 0.8px;
  justify-content: center;
  align-items: center;
}

.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}

.banner button:hover svg {
  margin-left: 25px;
}

.banner img {
  animation: updown 3s linear infinite;
}

/* Stickers Banner Variant */
.banner-stickers {
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-image: url('../../assets/img/banner-bg.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-stickers .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
  color: #fff;
}

.banner-stickers h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
  color: #fff;
}

.banner-stickers p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}

.banner-stickers button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 32px;
  letter-spacing: 0.8px;
  justify-content: center;
  align-items: center;
}

.banner-stickers button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}

.banner-stickers button:hover svg {
  margin-left: 25px;
}

.banner-stickers img {
  animation: updown 3s linear infinite;
} 