/* Skills Component Styles */

.skill {
  padding: 50px 0 50px 0;
  position: relative;
}

.skill-bx {
  background: var(--color-bg-panel);
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: -60px;
}

.skill h2 {
  font-size: 45px;
  font-weight: 600;
  text-shadow: 0 0 10px var(--color-primary),
    0 0 20px var(--color-primary),
    0 0 40px var(--color-primary),
    0 0 80px var(--color-primary),
    0 0 120px var(--color-primary);
}

.skill p {
  color: var(--color-text-dark);
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 75px 0;
}

.skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}

.skill-slider .item img {
  width: 50%;
  margin: 0 auto 15px auto;
}

.background-image-left {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 40%;
  left: 0;
  z-index: -4;
} 